@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,800;1,400;1,800&display=swap');

:root {
	--light-text-color: #BBB3E5;
	--white-text-color: #FFFFFF;
	--dark-text-color: #090039;
	--bg-color: #28293E;
	--bg-over-color: #5C2000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	font-family: 'Epilogue', Arial, sans-serif;
	background-color: var(--bg-color);
}

.container {
	max-width: 1170px;
	padding: 5.75rem 2rem 2rem;
	margin-left: auto;
	margin-right: auto;
}

.header {
	text-align: center;
	margin-bottom: 5rem;
}

.header span {
	color: var(--light-text-color);
	font-size: 1rem;
	line-height: 2rem;
	letter-spacing: .1875rem;
}

.header h1 {
	color: var(--white-text-color);
	font-weight: 800;
	font-size: 3.5rem;
	line-height: 4rem;
	margin-top: 1.25rem;
}

.main {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.main__work {
	position: relative;
	height: 416px;
	background-color: rgba(92, 32, 0, .32);
	transition: .5s;
}

.main__work:hover {
	background-color: rgba(92, 32, 0, 0);
}

.main__work:first-child,
.main__work:last-child {
	width: calc(40% - .5rem);
}

.main__work:nth-child(2),
.main__work:nth-child(3) {
	width: calc(60% - .5rem);
}

@media screen and (max-width: 768px) {
	.main {
		flex-direction: column;
	}

	.main__work:nth-child(1),
	.main__work:nth-child(2),
	.main__work:nth-child(3),
	.main__work:nth-child(4) {
		width: 100%;
	}
}

.main__work img {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 416px;
	object-fit: cover;
	border-radius: 6px;
}

.main__work .work__text {
	position: relative;
	top: 16rem;
	left: 3rem;
}

.work__text span {
	color: var(--dark-text-color);
	font-size: 1rem;
	line-height: 2rem;
	padding: .5rem 1rem;
	background-color: #FFFFFF;
	border-radius: 1.5rem;
}

.work__text h2 {
	color: var(--white-text-color);
	font-size: 2.5rem;
	font-weight: 800;
	line-height: 3rem;
	margin-top: 1.5rem;
}