@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

:root {
	--header-color: #7158EF;
	--body-bg-color: #ECE9FD;
	--title-text-color: #090039;
	--body-text-color: rgba(10, 0, 57, 0.64);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	font-family: 'Epilogue', Arial, sans-serif;
	font-size: 16px;
	background-color: var(--body-bg-color);
}

.container {
	max-width: 1106px;
	padding: 5rem 2rem;
	margin-left: auto;
	margin-right: auto;
}